body{
    display: flex;
}

.right-block{
    width: 50%;
    height: 1500px;
    overflow: auto;
    float: right;
}

.left-block{
    width: 50%;
    height: 1500px;
    overflow: auto;
    float:left;
    background: rgb(26, 25, 25);
}

.avatar{
    width: 50%;
    height: 30%;
    float: right;
    background: white;
    padding: 2%;
    margin-top: 100px;
}

.name{
    transform: rotate(270deg);
    padding-top:260px;
    padding-bottom: 270px;
    float: right;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.develop{
    font-size: bold;
    font-weight: lighter;
}

.text{
    padding-left: 20%;
    text-align: left;
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 40px;
   
}

.icon{
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background-color: rgb(0, 132, 255);
    margin: 0;
}

.options{
    font-size: 20px;
    font-weight:lighter;
    font-family:'Courier New', Courier, monospace;
    list-style-position:outside;
    color:rgb(0, 132, 255);
    padding-right: 20px;
    
}

.textl{
    padding-left: 15%;
    font-size: xx-large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 40px;
    color: white;
    text-align:left;
    padding-right: 10%;
}

span{
    color: black;
    font-size: 20px;
}

.stolb{
    display:grid;
    padding-bottom: 30px;
    margin-right: 30px;
    width: 5px;
    background:rgb(0, 132, 255);
}